.Main_about_block {
	display: grid;
	grid-template-columns: repeat(2, 40vw);
	gap: 40px;
	margin: 30px 10px;
	justify-content: space-evenly;
}

  .card {
	opacity: 0; 
	transform: translateX(20px); 
	transition: opacity 0.5s ease, transform 0.5s ease-in; 
  }
  
  .card-left {
	transform: translateX(-20px);
  }
  
  .show {
	opacity: 1; 
	transform: translateX(0); 
  }
  
  .hidden {
	opacity: 0; 
  };


