.Footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(22, 24, 25);
  padding: 10px 20px;
  color: aliceblue;
  height: 100%;
  font-size: 1.5rem;
  align-items: center;
  position: relative;
  padding: 10vh 20px;
  h5 {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 10px;
  }
  p {
    font-size: 0.6em;
    font-weight: 400;
    line-height: 1.7em;
  }
}
.Footer_rules {
  max-width: 50%;
}
.Footer_contacts {
  p {
    font-size: 0.7em;
    font-weight: 400;
  }
  a {
    transition: all 0.1s linear;
  }
  a:hover {
    text-shadow: 0px 0px 10px beige;
  }
}
.Footer_contacts_link {
  color: beige;
  text-decoration: none;
}
.GlowEffect {
  position: absolute;
  width: 5px;
  height: 5px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: 0 0 60px 20px rgba(255, 255, 255, 0.5);
  z-index: 10;
}

@media  (max-width: 662px) {
	.Footer{
		flex-direction: column;
		align-items: start;
	}
	.Footer_rules {
		max-width: 100%;
		margin-bottom: 30px
	}
	.GlowEffect {
		display: none;
	}
}